# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'api_keys'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [34]:
cities= pd.read_csv("Outputweather_df.csv")
cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,bengkulu,99,id,1597901459,62,-3.80,102.27,86.45,9.51
1,ushuaia,75,ar,1597901197,93,-54.80,-68.30,39.20,23.04
2,rikitea,97,pf,1597901415,82,-23.12,-134.97,70.27,20.27
3,axim,70,gh,1597901460,88,4.87,-2.24,75.02,9.40
4,nikolskoye,0,ru,1597901461,82,59.70,30.79,57.99,4.47
...,...,...,...,...,...,...,...,...,...
528,aksarka,84,ru,1597901600,65,66.56,67.80,60.91,14.09
529,batticaloa,100,lk,1597901600,59,7.71,81.69,87.08,6.91
530,haines junction,20,ca,1597901600,63,60.75,-137.51,47.84,2.82
531,gamba,100,ga,1597901600,87,-2.65,10.00,72.00,8.32
532,kudat,20,my,1597901600,66,6.88,116.85,87.80,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [26]:
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Lat", "Lng"]]

In [27]:
gmaps.configure(api)
locations = cities[["Lat", "Lng"]].astype(float)
humidity = cities['Humidity'].astype(float)


fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
narrowed_city_df = cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80) & (cities["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,zalantun,0,cn,1597901472,49,48.00,122.72,71.33,6.87
1,puerto del rosario,0,es,1597901475,43,28.50,-13.86,73.40,9.17
2,aripuana,0,br,1597901477,46,-9.17,-60.63,75.92,1.23
3,byron bay,0,au,1597901491,28,-28.65,153.62,71.01,25.28
4,troitskoye,0,ru,1597901497,35,52.98,84.68,73.35,11.21

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure